*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
}
// body{
//     color: rgba(0, 0, 0, 0.925);
//     margin: 2em;
// }
#title{
    font-size: 240%;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
header{
    background-color: rgb(46, 46, 46);
}